{% extends "admin/change_list.html" %}  {# Usa o template padrão do adminlte3 como base #}
{% load i18n admin_urls static admin_list %}


{% block extra_js %}
<script src="{% static 'admin-lte/plugins/datatables/jquery.dataTables.js' %}"></script>
<script src="{% static 'admin-lte/plugins/datatables-bs4/js/dataTables.bootstrap4.js' %}"></script>


<script>
    $(document).ready(function(){
        $.each($('#result_list_wrapper').children().filter(':last-child').children(), function( k, v ) {
            v.remove();
        });
        $('.card').append($('<div class="card-footer"></div>'));
        $('.card-footer').append($('.paginator'));
        $('.card-footer').addClass('text-center')
        $('.paginator').addClass('col-md-12');

        // moving actions div to the header of datatable
        try{
            $('.dataTables_wrapper :first-child :first-child')[0].remove();
            $actions = $('.actions');
            $actions.addClass('col-sm-6 col-md-6');
            $actions.prependTo($('.dataTables_wrapper :first-child')[0]);
        }catch(err){
            // so no data yet 
        }

});

</script>
{% endblock %}