annotated-types==0.7.0
# Editable install with no version control (apac_core==0.1.0)
-e /home/daniel/Desenvolvimento/cisbaf/apac/backend/core
iniconfig==2.1.0
packaging==25.0
pluggy==1.6.0
pydantic==2.11.5
pydantic_core==2.33.2
pytest==8.3.5
typing-inspection==0.4.1
typing_extensions==4.14.0
